code {
  padding: 0;
  font-size: 100%;
  color: black;
  background-color: white;
  border: 0px solid black;
}

a code {
    color: #slateblue;
}

a {
    color: #slateblue;
}

a:hover {
    color: black;
    background-color: none;
    text-decoration: none;
}

a img {
    border: solid 0px white;
}

a:hover img {
    color: black;
    background-color: none;
    text-decoration: none;
    border: solid 0px white;
}

p.center {
    text-align: center;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 20px;
    padding-bottom: 20px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#hide_email b {
    display: none;
}


h1, h2, h3, h4, h5 {
    color: #000000;
}

ul {
  list-style-type: square;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #CCA69A;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding-left: 10px;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    padding-left: 10px;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding-left: 10px;
}


.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    padding-left: 10px;
}

.navbar-inner {
    min-height:40px;
    padding-left:20px;
    padding-right:20px;
    background-color:#000000;
    background-image:-moz-linear-gradient(top, #FCE373, #FCE373);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#edffff), to(#f2f2f2));
    background-image:-webkit-linear-gradient(top, #FCE373, #FCE373);
    background-image:-o-linear-gradient(top, #FCE373, #FCE373);
    background-image:linear-gradient(to bottom, #FCE373, #FCE373);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border:0px solid white;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);*zoom:1;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}
